
.btn-widget {
  color: var(--white);
  background: var(--primary-color);
  padding: 8px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: calc(100vh - 78px);
  overflow: auto;
  background-color: var(--header-bg-color);
}

.dashboard-grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(8.333%, 1fr));
    grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 130px;

  @media (max-width: 768px) {
    display: block;
    padding: 8px; // Adjust spacing for better layout
  }
}


.all-scroll {
  cursor: all-scroll;
}

.mr-auto {
  margin-right: auto;
}

.apply-button {
  font-size: 14px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white);
  padding: 8px;
  border-radius: 5px;
}

.settings-button {
  // color: #999999 !important;
  height: 40px;
  border: 1px solid #566875;
}


.arrow-animation{
  animation: moveArrow 0.4s infinite alternate ease-in-out;
  color: var(--primary-color);
}

@keyframes moveArrow{
  0%   {transform: translateX(0);}
  100%  {transform: translateX(5px);}
}

.z-999{
  z-index: 999 !important;
}
