.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  pointer-events: all;
}

.loader {
  width: 68px;
  height: 68px;
  display: inline-block;
  position: relative;
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  margin: auto;
  border-radius: 10px;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid var(--primary-color);
  width: 48px;
  height: 48px;
  border-radius: 10px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 38px;
  height: 38px;
  border-color: var(--secondary-color);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
