.dialog-container {
    display: flex;
    flex-direction: column;

    .dialog-header {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--header-bg-color);
        border-bottom: 1px solid var(--border-color);
        padding-left: 16px;
        padding-right: 16px;

        span {
            font-weight: bold;
            font-size: var(--size-18);
        }

        .mat-icon {
            text-align: center;
            cursor: pointer;
        }
    }

    .dialog-body {
        display: flex;
        max-height: calc(100vh - 190px);
        width: 100%;
        padding: 20px 16px;
        background-color: var(--header-bg-color);
        overflow-x: hidden;
        overflow-y: auto;
        font-size: var(--size-16);

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 16px
        }

        button{
            font-size: var(--size-16);
        }
    }

    .dialog-footer {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        background-color: var(--header-bg-color);
        border-top: 1px solid var(--border-color);
        padding-left: 16px;
        padding-right: 16px;
        button{
            font-size: var(--size-16);
        }
    }
}