@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// Overall Carousel Properties
owl-carousel-o,
.owl-carousel {
  position: relative;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-prev, .owl-next {
  color: var(--black) !important;
  border: 1px solid var(--secondary-color) !important;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: all;
  border-radius: 50% !important;
}

.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
  background: var(--secondary-color) !important;
  align-content: center;
  margin: unset !important;
}

.owl-theme .owl-nav{
  margin-top: unset !important;
}

// Carousel Properties inside mat dialog

.mat-mdc-dialog-container {
  owl-carousel-o {
    position: relative !important;
    height: auto !important;
  }

  .owl-carousel,
  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    height: auto !important;
  }

  .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .owl-stage {
    display: flex !important;
  }

  .owl-item[style] {
    width: 100% !important;
  }
}