<app-loader *ngIf="isLoading"></app-loader>

<div class="dialog-container">
    <div class="dialog-header">
        <span>{{('Profile.'+data.title) | translate}}</span>
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
    <div class="dialog-body">
        <form [formGroup]="assetForm">
            <!-- Type & Name Dropdown -->
            <div class="row">
              <!-- Type -->
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                      <mat-label class="label-text">{{'Profile.Type' | translate}}</mat-label>
                      <mat-select name="assetType" formControlName="assetType" (selectionChange)="changeAssetType()">
                          <mat-option *ngFor="let assetType of assetTypes" [value]="assetType"
                              [disabled]="data.type">
                              {{ assetType }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <div *ngIf="isSavedAsset && assetForm.invalid" class="error-div">
                      <div *ngIf="assetForm.controls['assetType'].errors?.['required']">
                          {{'Profile.Type' | translate}} {{'Common.RequiredError' | translate}}
                      </div>
                  </div>
              </div>
              <!-- Name Dropdown -->
              <div class="col-md-6" *ngIf="assetForm.value.assetType == 'Certifications'">
                  <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                      <mat-label class="label-text">{{'Profile.Name' | translate}}</mat-label>
                      <mat-select name="assetName" formControlName="assetName">
                          <mat-option *ngFor="let assetName of assetNames" [value]="assetName.value">
                              {{ assetName.value }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <div *ngIf="isSavedAsset && assetForm.invalid" class="error-div">
                      <div *ngIf="assetForm.controls['assetName'].errors?.['required']">
                          {{'Profile.Name' | translate}} {{'Common.RequiredError' | translate}}
                      </div>
                  </div>
              </div>
            </div>

            <!-- Name -->
            <div class="col-md-12" *ngIf="assetForm.value.assetType !== 'Certifications'">
                <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                    <mat-label class="label-text">{{'Profile.Name' | translate}}</mat-label>
                    <input matInput type="text" name="assetName" formControlName="assetName" />
                </mat-form-field>
                <div *ngIf="isSavedAsset && assetForm.invalid" class="error-div">
                    <div *ngIf="assetForm.controls['assetName'].errors?.['required']">
                        {{'Profile.Name' | translate}} {{'Common.RequiredError' | translate}}
                    </div>
                    <div *ngIf="assetForm.controls['assetName'].errors?.['maxlength']">
                        {{'Profile.Name' | translate}} {{'Common.MaxLengthError' | translate}}
                        {{ assetForm.controls['assetName'].errors?.['maxlength']?.requiredLength }}
                    </div>
                    <div *ngIf="assetForm.controls['assetName'].errors?.['pattern']">
                        {{'Common.PatternError' | translate}}
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="col-md-12"
                *ngIf="showFields  && (data.title != 'BrochureDetails' && data.title != 'ImageDetails')">
                <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                    <mat-label class="label-text">{{'Profile.Description' | translate}}</mat-label>
                    <textarea matInput rows="3" name="assetDescription" formControlName="assetDescription"></textarea>
                </mat-form-field>
                <div *ngIf="isSavedAsset && assetForm.invalid" class="error-div">
                    <div *ngIf="assetForm.controls['assetDescription'].errors?.['pattern']">
                        {{'Common.PatternError' | translate}}
                    </div>
                </div>
            </div>

            <!-- Validity -->
            <div class="col-md-12 mt-sm-down-3"
                *ngIf="showFields && (data.title != 'BrochureDetails' && data.title != 'ImageDetails' && assetForm.value.assetType != 'Awards')">
                <mat-form-field appearance="outline" class="w-100" floatLabel="always">
                    <mat-label>{{'Profile.Validity' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input class="text-dark  text-14" matStartDate name="validFromDate"
                            formControlName="validFromDate" readonly />
                        <span class="separator">–</span>
                        <input class="text-dark  text-14" matEndDate name="validToDate"
                            formControlName="validToDate" readonly />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker>
                        <mat-date-range-picker-actions>
                            <button class="btn btn-primary me-2" mat-button matDateRangePickerCancel>
                                {{'Cancel' | translate}}
                            </button>
                            <button class="btn btn-primary" mat-raised-button color="primary"
                                matDateRangePickerApply>
                                {{'Apply' | translate}}
                            </button>
                        </mat-date-range-picker-actions>
                    </mat-date-range-picker>
                </mat-form-field>
                <div *ngIf="isSavedAsset && assetForm.invalid" class="error-div">
                    <div *ngIf="assetForm.controls['validFromDate'].errors?.['required'] || assetForm.controls['validToDate'].errors?.['required']">
                        {{'Profile.Validity' | translate}} {{'Common.RequiredError' | translate}}
                    </div>
                </div>
            </div>

            <!-- File Upload -->
            <div class="col-md-12">
                <div class="col-md-12">
                    <label class="mb-0 text-12">{{'Profile.FileUpload' | translate}}</label>
                </div>
                <div class="col-md-12 mb-10 mt-1">
                    <div (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
                        <!-- Display uploaded files -->
                        <div class="border rounded py-0 mb-0" style="height: 160px;" *ngIf="documents.length > 0">
                            <ul class="d-flex pl-0 mt-0 mb-0" style="overflow: auto;">
                                <li *ngFor="let doc of documents; let i = index" class="d-block p-3 review-responsive">
                                    <div class="">
                                        <div class="position-relative">
                                            <div class="position-absolute cursor-pointer z-99 right--2 top--3 text-warning"
                                                (click)="removeFile(i)">
                                                <mat-icon class="pb-2 text-danger">close</mat-icon>
                                            </div>
                                            <img *ngIf="doc?.documentName.toLowerCase().endsWith('.jpg') || doc?.documentName.toLowerCase().endsWith('.jpeg') || doc?.documentName.toLowerCase().endsWith('.png')"
                                                [src]="doc.readerDocument" class="border rounded" width="120"
                                                height="120" />

                                            <pdf-viewer
                                                *ngIf="doc?.documentName.toLowerCase().endsWith('.pdf')"
                                                [src]="doc.readerDocument" [rotation]="0"
                                                [original-size]="false" [show-all]="true" [fit-to-page]="false"
                                                [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                [render-text]="true" [external-link-target]="'blank'"
                                                [autoresize]="true" [show-borders]="false"
                                                style="width: 120px; margin: auto;height: 120px;" class="border rounded"></pdf-viewer>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Upload option when no files exists -->
                        <div *ngIf="documents == null || documents.length == 0">
                            <div class="border rounded py-0 mb-0" style="height: 160px;" (click)="fileInput.click()">
                                <ul
                                    class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-0">
                                    <mat-icon class="mt-2">add_a_photo</mat-icon>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <mat-icon class="mr-2 pb-2">upload</mat-icon>
                                        <label class="mt-2 text-16">{{'Common.DropFilesToUpload' | translate}}</label>
                                    </div>
                                    <input #fileInput class="custom-file-input d-none" multiple="multiple" type="file"
                                        (change)="handleFileChange($event)"
                                        [accept]="data?.title !== 'BrochureDetails' && assetForm.value.assetType != 'Brochures' ? '.jpg,.jpeg,.png' : '.pdf'" />
                                </ul>
                            </div>
                        </div>
                        <!-- Upload option when total upload limit not yet reached -->
                        <div class="upload-option rounded d-flex justify-content-center my-4 py-8 pointer"
                            *ngIf="documents.length > 0 && documents.length < 5" (click)="fileInput1.click()">
                            <div class="d-flex align-items-center pointer text-13">
                                <input #fileInput1 class="custom-file-input d-none" multiple="multiple" type="file"
                                    (change)="handleFileChange($event)"
                                    [accept]="data?.title !== 'BrochureDetails' && assetForm.value.assetType != 'Brochures' ? '.jpg,.jpeg,.png' : '.pdf'" />
                                <mat-icon class="mr-2 add-variation-icon">add</mat-icon>
                                <span class="text-16">{{'Common.FilesToUpload' | translate}}</span>
                            </div>
                        </div>
                        <!-- Errors -->
                        <div *ngIf="assetForm.invalid" class="error-div">
                            <div *ngIf="assetForm.controls['assetDocuments']?.errors?.['fileLimit']">
                                {{ 'Common.FileSizeExceedsTheMaximumLimitOf5MB' | translate }}
                            </div>
                            <div *ngIf="assetForm.controls['assetDocuments']?.errors?.['limitReached']">
                                {{ 'Common.YouCannotUploadMoreFiles' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="dialog-footer">
        <button type="button" class="btn btn-outline-primary" (click)="onNoClick()">{{'Common.Cancel' |
            translate}}</button>
        <button type="button" class="btn btn-primary" (click)="saveProfileDetails()">{{'Common.Submit' |
            translate}}</button>
    </div>
</div>
