.table-content {
  height: calc(100vh - 280px);

  @media (max-width: 576px) {
    height: calc(100vh - 368px);
  }
}
@media (max-width: 576px) {

  /* Hide everything except page size dropdown */

  ::ng-deep .mat-mdc-paginator-range-label {
    display: none !important;
  }

  ::ng-deep .mat-mdc-paginator-range-actions {
    .mat-mdc-paginator-navigation-last,
    .mat-mdc-paginator-navigation-first {
      display: none !important;
    }
  }
}
