// Profile
.profile-wrapper {
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  margin: 0 10px;
  width: -webkit-fill-available;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 1;
  }

  .profile-box {
    position: absolute;
    left: 20px;
    bottom: -35px;
    z-index: 2;
    display: flex;
    width: 245px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--header-bg-color);
    gap: 4px;


    .image-fix{
       height: 100px;
       width: 200px;
      img {
        height: 100%;
        max-width: 220px;
        width: 100%;
        object-fit: contain;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
    }
  }

  .profile-edit {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    align-items: center;
    background-color: var(--header-bg-color);
    z-index: 2;
  }

  .profile-edit2 {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    background-color: var(--header-bg-color);
    z-index: 2;
  }
}

// Category
.category-wrapper {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  padding: 10px;

  .category {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: var(--size-16);
  }
  .selected {
    color: var(--secondary-color);
    line-height: 1.8;
    border-bottom: 1px solid var(--secondary-color);
  }
  .selected2 {
    color: var(--black);
    background-color: var(--secondary-color);
    border-radius: 6px;
    font-weight: bold;
  }
}

// Card
.profile-card {
  position: relative;
  cursor: pointer;

  .mh-50 {
    max-height: 50px;
    overflow: hidden;
  }

  .price-row {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 10px;
  }
}

.wrapper{
  height: calc(100vh - 90px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

h6{
  font-size: var(--size-16);
}

button{
  font-size: var(--size-15);
}

li{
  font-size: var(--size-14);
}

.text-justify{
  text-align: justify;
}

@media (max-width: 576px){
  .wrapper{
    height: calc(100vh - 120px);
  }
}
