// :host {
//   position: absolute;
//   z-index: 2;
//   background:  rgb(238 237 243);;
//   color: rgb(47 48 53);;
//   top: 0;
//   left: 0;
//   border-radius: inherit;
//   width: 100%;
//   height: 100%;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   box-sizing: border-box;
//   --mat-standard-button-toggle-height: 24px;
// }

.settings-icon {
  position: absolute;
  top: 5px;
  right: -8px;
  z-index: 10;
  background: none;
  border: none;

  mat-icon {
    --mdc-icon-button-icon-size: 18px;
    font-size: 18px;
  }
}

.widget-options {
  display: flex;
  flex-direction: column;
  // gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: rgb(238 237 243);
  border-radius: 6px;
  position: relative;
  z-index: 20;

  .widget-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;

    .delete-btn {
      color: rgb(186 26 26);
    }

    button {
      background: none;
      border: none;
    }
  }
}

.cdk-drag {
  &.cdk-drag-preview {
    width: fit-content !important; // Set your desired width while dragging
    height: fit-content !important; // Set your desired height while dragging
    opacity: 0.8; // Optional: Adjust opacity for better UX
  }

  &.cdk-drag-placeholder {
    width: fit-content !important;
    height: fit-content !important;
    opacity: 0.5;
  }
}

.mat-button-toggle-group {
  border: none !important;
}

.custom-toggle-button {
  padding: 0px !important;
  --mat-standard-button-toggle-height: 20px !important;
  height: unset !important;
}

.mat-button-toggle-group .mat-button-toggle-checked {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 50% !important;
  // padding: 0px 8px !important;
  --mat-standard-button-toggle-height: 20px !important;
}

.toggle-conetent {
  padding: 0 8px !important;
}
