.nav-set {
  position: relative;
  z-index: 10;

  img {
    width: 50px;
    height: 50px;
  }

  .menu-items {
    font-weight: 600;
    cursor: pointer;
  }

  .menu-items span {
    color: var(--white);
    text-decoration: none;
  }

  .menu-items .scrolled {
    color: var(--black);
    text-decoration: none;
  }


  .menu-items span.active-menu {
    color: var(--secondary-color) !important;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color) !important;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
}

.client-img{
  max-width: 120px;
}

.page-header {
  position: relative;
  width: 100%;
  padding-bottom: 4rem;
  color: var(--black);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .page-header-image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.header-content {
  position: relative;
  z-index: 2;
  padding-top: 4rem;
}

.navbar-fixed {
  position: fixed;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: var(--header-bg-color);
  z-index: 999;
  border-top: 1px solid var(--cancel-bg-color);
  border-bottom: 1px solid var(--cancel-bg-color);
}

.social-icon {
  width: 48px;
  height: 48px;
}

.header-logo {
  max-width: 130px;
}

@media (max-width: 768px) {
  .header-content {
    padding-top: 0rem;
  }

  .header-logo {
    max-width: 140px;
  }

  .page-header{
    padding-bottom: 2rem;
  }
}

.web-bg {
  img {
    width: 100px;
    height: 100px;
  }
}

nav {
  z-index: 1000;
}

.social-icon {
  height: 50px;
  width: 50px;
}

.product-card {
  position: relative;
  cursor: pointer;
  .mh-50 {
    max-height: 50px;
    overflow: hidden;
  }

  .price-row {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 10px;
  }
}

mat-icon{
  overflow: visible !important;
}

.wrapper{
  height: calc(100vh - 90px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

h6{
  font-size: var(--size-16);
}

button{
  font-size: var(--size-15);
}

li{
  font-size: var(--size-14);
}

@media (max-width: 576px){
  .wrapper{
    height: calc(100vh - 120px);
  }
}
