
.widget-div {
  display: flex;
  flex-direction: column;

 .radio-div {
  max-height: 210px;
  overflow-y: auto;
  flex-direction: column;

  .radio-box {
    display: block; /* <-- important */
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 10px;
    height: 60px;
    padding: 8px 10px;
    position: relative;

    /* Force full-width label */
    .mat-radio-label {
      width: 100%;
    }

    .mat-radio-label-content {
      width: 100%;
    }

    .udyam-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .edit-btn{
      position: absolute;
      right: 10px;
    }
  }
}

}

.profile-card {
  // background: var(--white);
  border-radius: 10px;
  // padding: 16px;
  // width: 500px;
}

.title {
  font-weight: 600;
  margin-bottom: 12px;
}

.content {
  gap: 24px;
}

/* CHART */
.chart-wrapper {
  position: relative;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
}

/* CHECKLIST */
.checklist {
  flex: 1;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 12px;
  color: transparent;
  mat-icon{
    font-size: 20px;
    margin-top: auto;
  }
}

.icon.completed {
  border-color: #7E57C2;
  color: #7E57C2;
}

.label {
  flex: 1;
}

.percent {
  font-weight: 500;
}

/* BUTTON */
.edit-btn {
  margin-top: 12px;
  color: var(--white);
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
