<div class="row mh-100 m-0 row-gap-10 border rounded p-3">

  <div class="col-xl-3 col-md-3  col-sm-12">
    <div class="sector-card pointer ">
      <div class="sector-title text-18 card-1-bg">
        <span>{{'Dashboard.MicroEnterprises' | translate}}</span>
      </div>
      <div class="main-display-content card-sub1-bg">
        <div class="metric-row">
          <strong class="font text-18">{{ counts?.microEnterprisesCount }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-3  col-sm-12">

    <div class="sector-card pointer">
      <div class="sector-title text-18 card-2-bg">
        <span>{{'Dashboard.SmallEnterprises' | translate}}</span>
      </div>
      <div class="main-display-content card-sub2-bg">
        <div class="metric-row">
          <strong class="font text-18">{{ counts?.smallEnterprisesCount }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-3  col-sm-12">
    <div class="sector-card pointer">
      <div class="sector-title text-18 card-3-bg">
        <span>{{'Dashboard.MediumEnterprises' | translate}}</span>
      </div>
      <div class="main-display-content card-sub3-bg">
        <div class="metric-row">
          <strong class="font text-18">{{ counts?.mediumEnterprisesCount }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-3  col-sm-12">
    <div class="sector-card pointer">
      <div class="sector-title text-18 card-4-bg">
        <span>{{'Dashboard.AdminUsers' | translate}}</span>
      </div>
      <div class="main-display-content card-sub4-bg">
        <div class="metric-row">
          <strong class="font text-18">{{ counts?.adminUsersCount }}</strong>
        </div>
      </div>
    </div>
  </div>

</div>
